<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIEndPoint</key>
	<string>https://api.stackexchange.com/2.2/</string>
	<key>APIPaths</key>
	<dict>
		<key>APIPathQuestions</key>
		<string>questions?order=desc&amp;sort=activity&amp;site=stackoverflow</string>
	</dict>
</dict>
</plist>
